# Python
ipython
python-dotenv
requests
pyserial

# Sensors
py-sds011
adafruit-circuitpython-dht
smbus2
adafruit-circuitpython-bme280==2.6.20

# Code Quality & Formatting
black==23.3.0

# MQTT
paho-mqtt