# Python
ipython==8.14.0
python-dotenv==1.0.0
requests==2.31.0
pyserial==3.5
certifi==2023.7.22

# Sensors
py-sds011==0.9
adafruit-circuitpython-dht==4.0.2
smbus2==0.4.2
adafruit-circuitpython-bme280==2.6.22

# MQTT
paho-mqtt==1.6.1

# SQS
boto3==1.28.16
